* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    background-color: var(--jet); 
}
:root {
    /* CSS HEX */
    --cinereous: #93827fff;
    --cream: #f3f9d2ff;
    --sage: #bdc4a7ff;
    --jet: #2f2f2fff;
    --cambridge-blue: #92b4a7ff;
}
.app {
    color: white;
    background-color: var(--jet);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

}
h1 {
    color: var(--cream)
}
.timers {
    display: flex;
    flex-direction: column;
    background-color: var(--cambridge-blue)
}
.TaskTimer {
    margin: 10px;
    padding: 10px;
    font-family:'Trebuchet MS';
    color: black;
    border: solid;
    border-color: black;
    background-color: var(--sage);
}