* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    background-color: var(--jet); 
}
:root {
    /* CSS HEX */
    --cinereous: #93827fff;
    --cream: #f3f9d2ff;
    --sage: #bdc4a7ff;
    --jet: #2f2f2fff;
    --cambridge-blue: #92b4a7ff;
}
/* Hirearchy:
.app > .inputs / .timers > task > taskTimer
*/
.app {
    margin-top: 5%;
    color: white;
    background-color: var(--jet);
    font-family: 'Helvetica';

    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputs {
    margin-top: 20px;
    background-color: var(--cinereous);
}
.inputs button {
    background-color: var(--cinerous);
}
.tasks {
    margin-top: 10px;
    flex: 0 0 500px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.task {
    background-color: var(--cambridge-blue);
    border: solid;
    border-color: var(--cinereous);

}
.task button {
    background-color: transparent;
    color: black;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}
.control {
    margin: 5px;
    display: flex;
    justify-content: space-between;
}
.control h2 {
    margin-left: 5px;
    color: var(--jet);
    font-family: 'Lucida Console';
}
.control button {
    padding: 5px;
    color: white;
    background-color: red;
    border-radius: 30%;
}
.taskTimer {
    margin: 5px;
    padding: 5px;
    font-family:'Trebuchet MS';
    font-size: 2rem;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.taskTimer button {
    font-size: 1rem;
    padding: 5px;
    background-color: var(--cream);
}

/* Text */
h1 {
    color: var(--cream);
    font-size: 5rem;
    font-family: 'Lucida Console';
}